* {
    font-family: "Montserrat", sans-serif;
    
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Montserrat', sans-serif;
}

h3{
    color: white;
    text-decoration: underline;
}

.footer-link {
    color: white;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
    color: #F3FEB9;
}

.copyright{
    color: white;
    font-weight: bold;
    padding: 20px;
}


.navbar{
    background-color: #ff4d4d;
}


.offcanvas-header{
    background-color: #FFC221 ;
}

.offcanvas-body{
    background-color: #ff4d4d;
}

.navbar .btn-busqueda:hover{
    background-color: rgb(11, 180, 70);
}

.iniciar-sesion{
    background: none;
            border: none;
            color: inherit;
            font: inherit;
            cursor: pointer;
            padding: 0;
            margin-right: 2rem;
}

.bi-person-fill:hover{
    color: #FFC221!important;
    transition: 0.2s;
}

.navbar .modo-entrega{
    margin-right: 2rem;
}

.modo-entrega .nav-link{
    text-decoration: none;
    color: white;
    font-size: large;
}


.modo-entrega .nav-link:hover{
    color: rgb(0, 0, 0);
}
.navbar .carrito{
    margin-right: 1rem;
}

.carousel-item img {
    object-fit: fill; /* Asegura que la imagen mantenga su proporción */
    height: 450px; /* Ajusta la altura según sea necesario */
    width: 100%;
}

.car-productos{
    padding-bottom: 2rem;
}

.custom-border {
    border: 2px solid #0000; /* Color y grosor del borde */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para darle un poco de profundidad */
}

.product-grid .card:hover {
    transform: scale(1.1);
    z-index: 1;
    transition: 0.6s;
}

.card-productos{
    height: 5vh; /* Ajusta este valor según tus necesidades */
    overflow-y: auto; 
}

.products-section .card:hover{
    
    transform: scale(1.1);
    transition: 0.5s;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px; /* Ancho del área del botón */
    height: 60px; /* Altura del área del botón */
    border-radius: 50%; /* Hacer el área del botón circular */
    background-color: #d7de1a; /* Color de fondo del botón */
    color: #ffffff; /* Color del icono */
    border: none;
}
.button i {
    font-size: 2rem; /* Tamaño del icono */
}

.rounded-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px; /* Ajusta según el tamaño del ícono */
    text-align: center;
    border-radius: 50%; /* Crea el fondo redondo */
    background-color: #007bff; /* Color de fondo opcional */
    color: white; /* Color del ícono */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

.rounded-icon:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el ratón */
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}


.items{
    background-color: #FFC221  ;
}

.items p{
    font-size: large;
    font-weight: bold;
}

.seccion-formulario{
    background-color: #FFC221;
    padding: 3rem 0 3rem 0;
}

footer{
    margin-top: 2rem;
    background-color: #ff4d4d;
    padding-bottom: 3rem;
}

footer .pagos img{
    background-color: #ffffff;
    border-radius: 10px;
}




/* PARTE PARA PRODUCTO.HTML */

.detalle-producto .img-producto{
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.3);

}

.detalle-producto span{
    color: rgba(0, 0, 0, 0.611);
}

@media only screen and (max-width: 600px) {
    .carousel img {
      width: 100%; /* Ancho completo en dispositivos móviles */
      height: auto; /* Altura automática según el contenido */
    }
}

@media only screen and (min-width: 601px){
    .carousel img {
      width: 70vw; /* Ancho del 50% de la ventana gráfica */
      height: 60vh; /* Altura del 30% de la ventana gráfica */
    }
}  


.slide-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }


  .table-product-image img {
    max-width: 100px; /* Define el ancho máximo de las imágenes */
        height: auto; /* Permite que la altura se ajuste automáticamente */

}


/* fin PARTE PARA PRODUCTO.HTML */

.usuario[type=text], .usuario[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
  }
  

  
 .modal button {
	background-color: #2f499f;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	border-radius: 10px;
  }

   .cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #f44336!important;
  }

  .imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
	position: relative;
  }
  
  img.avatar {
	width: 40%;
	border-radius: 50%;
  }
  

  
  span.psw {
	float: right;
	padding-top: 16px;
  }
  

  .modal {
	display: none; 
	position: absolute;
	z-index: 1; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4); 
	padding-top: 60px;
  }
  

  .modal-content {
	background-color: #fefefe;
	margin: 5% auto 15% auto; 
	border: 1px solid #888;
	width: 30%;
  }
  
  .close {
	position: absolute;
	right: 25px;
	top: 0;
	color: #000;
	font-size: 35px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: red;
	cursor: pointer;
  }

  .animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)} 
	to {-webkit-transform: scale(1)}
  }
	
  @keyframes animatezoom {
	from {transform: scale(0)} 
	to {transform: scale(1)}
  }

  @media screen and (max-width: 450px) {
	span.psw {
	   display: block;
	   float: none;
	}
	.cancelbtn {
	   width: 100%;
	}
  }