{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SuperDuper</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}

     <!-- fuente -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>

    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/SUPER_DUPER.png' %}" alt="" width="70" height="60"></a>
    
          
          <form class="w-50 d-flex container-fluid d-none d-lg-block" role="search" method="get" action="{% url 'search_redirect' %}">
            <div class="input-group">
                <input type="text" class="form-control me-2" placeholder="¿Qué estás buscando?" aria-label="Search" name="q">
                <div class="input-group-append">
                    <button class="btn btn-busqueda" type="submit">
                        <i class="fa-solid fa-magnifying-glass fa-xl" style="color: #000000;"></i>
                    </button>
                </div>
            </div>
          </form>
    
            <div class="modo-entrega nav-item dropdown d-none d-lg-block">
                <a class="nav-link dropdown-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-geo-alt-fill"></i> Elige tu modo de entrega
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Despacho</a></li>
                    <li><a class="dropdown-item" href="#">Retiro en tienda</a></li>
                </ul>
            </div>
    
            <div class="nav-item d-none d-lg-block">
                <button class="iniciar-sesion"><i class="bi bi-person-fill fa-2x" style="color: #ffffff;"></i></button>
            </div>
    
            <div class="nav-item dropdown d-none d-lg-block carrito">
                <a class="nav-link" href="#" id="cartDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-cart fa-xl" style="color: #FEDE4D;"></i>
                    <span class="badge bg-success" id="cart-count">{{ cart.cartitem_set.count }}</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="cartDropdown">
                    <li><a class="dropdown-item" href="{% url 'cart_summary' %}">Ver carrito</a></li>
                    <li class="dropdown-divider"></li>
                    {% for item in cart.cartitem_set.all %}
                    <li class="dropdown-item">
                        {{ item.product.name }} - {{ item.quantity }} x ${{ item.price }}
                        <form method="post" action="{% url 'remove_from_cart' item.id %}">
                          {% csrf_token %}
                          <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                      </form>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="bi bi-list fa-xl"></i></span>
            </button>
    
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><strong>SuperDuper</strong></h5>
    
                    <div class="nav-item dropdown carrito">
                        <a class="nav-link" href="#" id="cartDropdownOffcanvas" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-cart fa-xl" style="color: #090909;"></i>
                            <span class="badge bg-success" id="cart-count-offcanvas">{{ cart.cartitem_set.count }}</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="cartDropdownOffcanvas">
                            <li><a class="dropdown-item" href="{% url 'cart_detail' %}">Ver carrito</a></li>
                            <li class="dropdown-divider"></li>
                            {% for item in cart.cartitem_set.all %}
                            <li class="dropdown-item">
                                {{ item.product.name }} - {{ item.quantity }} x ${{ item.product.price }}
                                <a href="{% url 'remove_from_cart' item.id %}" class="btn btn-danger btn-sm">Remove</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="nav-item">
                        <button class="iniciar-sesion"><i class="bi bi-person-fill fa-2x" style="color: #ffffff;"></i></button>
                    </div>
    
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item dropdown">
                            <div class="modo-entrega nav-item dropdown">
                                <a class="nav-link dropdown-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-geo-alt-fill"></i> Elige tu modo de entrega
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Despacho</a></li>
                                    <li><a class="dropdown-item" href="#">Retiro en tienda</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <form class="d-flex mt-3" role="search" method="get" action="{% url 'search_redirect' %}">
                        <input class="form-control me-2" type="text" placeholder="¿Qué estás buscando?" aria-label="Search" name="q">
                        <button class="btn btn-busqueda" type="submit"><i class="fa-solid fa-magnifying-glass fa-xl" style="color: #000000;"></i></button>
                    </form>
    
              
                </div>
            </div>
        </div>
      </nav>

    <div class="container">
        <h1 class="mt-5 mb-4 text-center">Escoge un producto</h1>
        <hr>
        <div class="store-wrapper">
            <div class="category_list d-flex flex-column flex-md-row justify-content-center">
                <a href="{% url 'lista_productos' %}" class="btn btn-outline-primary category_item {% if not active_category %}ct_item-active{% endif %} mb-2 mb-md-2 me-md-2">Todo</a>
                <a href="{% url 'lista_productos' %}?category=3" class="btn btn-outline-primary category_item {% if active_category == 'Carnes' %}ct_item-active{% endif %} mb-2 mb-md-2 me-md-2">Carnes</a>
                <a href="{% url 'lista_productos' %}?category=5" class="btn btn-outline-primary category_item {% if active_category == 'Lacteos' %}ct_item-active{% endif %} mb-2 mb-md-2 me-md-2">Lácteos</a>
                <a href="{% url 'lista_productos' %}?category=7" class="btn btn-outline-primary category_item {% if active_category == 'Bebidas' %}ct_item-active{% endif %} mb-2 mb-md-2 me-md-2">Bebidas</a>
                <a href="{% url 'lista_productos' %}?category=8" class="btn btn-outline-primary category_item {% if active_category == 'Despensa' %}ct_item-active{% endif %} mb-2 mb-md-2 me-md-2">Despensa</a>
                <a href="{% url 'lista_productos' %}?category=4" class="btn btn-outline-primary category_item {% if active_category == 'Juguetes' %}ct_item-active{% endif %} mb-2 mb-md-2 me-md-2">Juguetes</a>
                <a href="{% url 'lista_productos' %}?category=6" class="btn btn-outline-primary category_item {% if active_category == 'Snaks' %}ct_item-active{% endif %} mb-2 mb-md-2 me-md-2">Snaks</a>
            </div>
            <hr>
            <div class="row products-section">
                {% if products %}
                    {% for product in products %}
                        <div class="col-md-2 col-sm-6 mb-4">
                            <div class="card product-item">
                                <a href="{% url 'producto' product.pk %}">
                                {% if product.image %}
                                    <img src="{{ product.image.url }}" class="card-img-top" alt="">
                                {% endif %}
                                </a>
                                <div class="card-body">
                                    <h6 class="card-title card-productos">{{ product.name }}</h6>
                                    <form method="post" action="{% url 'add_to_cart' product.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-primary"  id="id_quantity" name="quantity" min="1" value="1">Agregar al carrito</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col-md-12">
                        <p>No hay productos disponibles.</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <section class="container-fluid seccion-formulario mt-3">
        <div class="container">
            <h2 class="m-3 text-center  fw-bold">Suscríbete a nuestras ofertas y beneficios SuperDuper</h2>
    
            <form class="row gy-2 gx-2" id="form">
                <div class="col-12 col-md-4">
                    <div data-mdb-input-init class="form-outline">
                        <input type="email" id="email" name="mail" class="form-control" placeholder="Ingrese su Correo electrónico" required>
                    </div>
                </div>
    
                <div class="col-12 col-md-4">
                    <div data-mdb-input-init class="form-outline">
                        <input type="text" id="nombre" name="name" class="form-control" placeholder="Ingrese su Nombre" required>
                    </div>
                </div>
    
                <div class="col-12 col-md-4">
                    <div data-mdb-input-init class="form-outline">
                        <input type="text" id="rut" name="rut" class="form-control" placeholder="Ingrese su Rut" required>
                    </div>
                </div>
  
                <!-- Casilla de verificación de términos y condiciones -->
                <div class="col-12  d-flex justify-content-center p-3">
                  <div class="form-check text-center">
                      <input class="form-check-input" type="checkbox" id="terms" required>
                      <label class="form-check-label fw-bold" for="terms">
                          Acepto los Términos y condiciones de SuperDuper</a>
                      </label>
                  </div>
                </div>
      
                <div class="col-12 d-flex justify-content-center p-3">
                    <input type="submit" class="btn btn-success" id="button" value="Enviar Suscripción" >
                  </div>
            </form>
            <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
            <script type="text/javascript">emailjs.init('nBWJsvgZbCkOx8MVW')</script>
        </div>
    </section>
  
  
  
<footer class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-4 text-center mt-3">
      <h3 class="m-3">Centro de ayuda</h3>
      <ul class="list-unstyled pl-0">
        <li><a href="" class="footer-link">Problemas con tu pedido</a></li>
        <li><a href="" class="footer-link">Información de pago</a></li>
        <li><a href="" class="footer-link">Cómo comprar en SuperDuper</a></li>
        <li><a href="" class="footer-link">Servicio al cliente</a></li>
      </ul>
    </div>

    <div class="col-12 col-md-4 text-center mt-3">
      <img src="{% static 'images/SUPER_DUPER.png' %}" alt="" width="190" height="190">
    </div>

    <div class="col-12 col-md-4 text-center mt-3">
      <h3 class="m-3">Metodos de pagos</h3>
      <div class="pagos m-3">
        <img src="{% static 'images/icon-master.png' %}" alt="">

        <img src="{% static 'images/icon-visa.png' %}" alt="">

        <img src="{% static 'images/icon-webpay.png' %}" alt="">
      </div>
    </div>
  </div>
  <p class="text-center copyright">Copyright © 2024 Todos los derechos reservados por SuperDuper. Cualquier intento de robo será castigado con la muerte</p>
</footer>

{% bootstrap_javascript %}
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  <script src="{% static 'js/script_msg.js' %}" > </script>
</body>
</html>